### Netflix - Timebucket Watch Stats

In [30]:
import pandas as pd
import datetime
df = pd.read_csv("data.csv",parse_dates=["ts"])


df = df[df["ts"].dt.date == pd.to_datetime("2025-10-21").date()].copy()
df["hour"] = df["ts"].dt.hour
df = df.groupby("hour",as_index=False).sum("seconds")
df.sort_values(ascending= False, inplace=True ,by=["seconds"])
result = df[["hour","seconds"]].head(5)
result

    hour  seconds
17    17     8022
6      6     7316
21    21     7034
20    20     6684
8      8     6546