### Palindrome Check

In [7]:
import pandas as pd
import string
df = pd.read_csv("data.csv")
def is_palindrome(row):
    translator = str.maketrans('','',string.punctuation)
    s = row["text"].translate(translator).lower().replace(" ","")
    return s == s[::-1]
df["is_palindrome"] = df.apply(lambda row: is_palindrome(row),axis=1)
df
# return the DataFrame
#df

                           text  is_palindrome
0             No lemon no melon           True
1                 Data Engineer          False
2                       ChatGPT          False
3              Machine Learning          False
4   Was it a car or a cat I saw           True
5                         Civic           True
6             No lemon no melon           True
7                        OpenAI          False
8                         Kayak           True
9              Machine Learning          False
10             Machine Learning          False
11                        Refer           True
12                        Civic           True
13              Step on no pets           True
14  Was it a car or a cat I saw           True
15                        Refer           True
16            Never odd or even           True
17                        Rotor           True
18                        Civic           True
19                        Level           True
20                        Refer           True
21                   Codebasics          False
22    Able was I ere I saw Elba           True
23                        Level           True
24                        Civic           True
25                     Race car           True
26                   Codebasics          False
27                        Rotor           True
28                   Codebasics          False
29                        Stats           True
30              Power BI Report          False
31                       Python          False
32                 n8n Workflow          False
33                      ChatGPT          False
34                      ChatGPT          False
35                       OpenAI          False
36                   Codebasics          False
37                        Kayak           True
38                Data Engineer          False
39                        Stats           True
40            Never odd or even           True
41                        madam           True
42                       OpenAI          False
43            No lemon no melon           True
44                        Civic           True
45               Data Analytics          False
46            No lemon no melon           True
47                    Deep Work          False
48              Step on no pets           True
49                        Stats           True