In [2]:
import datetime

import pandas as pd

In [4]:
df = pd.read_csv("movies.csv")

In [5]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [8]:
df.shape

(37, 10)

In [10]:
df["industry"].unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [12]:
df["language"].unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [14]:
df["industry"].value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [17]:
new_df=df[["title","industry","imdb_rating",]]
new_df.head()

                                         title   industry  imdb_rating
0                              Pather Panchali  Bollywood          8.3
1  Doctor Strange in the Multiverse of Madness  Hollywood          7.0
2                        Thor: The Dark World   Hollywood          6.8
3                              Thor: Ragnarok   Hollywood          7.9
4                      Thor: Love and Thunder   Hollywood          6.8

In [21]:
df[(df["release_year"] >= 2000) & (df["release_year"] <= 2020)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English
11,Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English
13,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.0,1006.0,Millions,USD,English
16,Parasite,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English
22,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
23,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi
24,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi
25,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi
26,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi
27,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
28,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi
30,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [24]:
df[df["studio"]=="Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [25]:
df["studio"]=="Marvel Studios"

0     False
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
Name: studio, dtype: bool

In [26]:
df.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      37 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   36 non-null     float64
 4   studio        34 non-null     object
 5   budget        37 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB

In [28]:
df[df["imdb_rating"]==df["imdb_rating"].max()]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [7]:
now = datetime.datetime.now().year
df["age"] = df["release_year"].apply(lambda x: now - x)
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3

In [8]:
df["profit"] = df.apply(lambda x: x["revenue"]-x["budget"], axis=1)

In [9]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0

In [10]:
df.set_index("title", inplace=True)

In [11]:
df.head()

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8
Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0
Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0

In [12]:
df.index

Index(['Pather Panchali', 'Doctor Strange in the Multiverse of Madness',
       'Thor: The Dark World ', 'Thor: Ragnarok ', 'Thor: Love and Thunder ',
       'The Shawshank Redemption', 'Interstellar', 'The Pursuit of Happyness',
       'Gladiator', 'Titanic', 'It's a Wonderful Life', 'Avatar',
       'The Godfather', 'The Dark Knight', 'Schindler's List', 'Jurassic Park',
       'Parasite', 'Avengers: Endgame', 'Avengers: Infinity War',
       'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Dilwale Dulhania Le Jayenge',
       '3 Idiots', 'Kabhi Khushi Kabhie Gham', 'Bajirao Mastani ',
       'Taare Zameen Par', 'Munna Bhai M.B.B.S.', 'PK', 'Sanju',
       'The Kashmir Files', 'Bajrangi Bhaijaan', 'Race 3', 'Shershaah',
       'K.G.F: Chapter 2', 'Pushpa: The Rise - Part 1', 'RRR',
       'Baahubali: The Beginning'],
      dtype='object', name='title')

In [14]:
df.loc["The Godfather"]

industry                 Hollywood
release_year                  1972
imdb_rating                    9.2
studio          Paramount Pictures
budget                         7.2
revenue                      291.0
unit                      Millions
currency                       USD
language                   English
age                             53
profit                       283.8
Name: The Godfather, dtype: object

In [15]:
df.iloc[2]

industry             Hollywood
release_year              2013
imdb_rating                6.8
studio          Marvel Studios
budget                   165.0
revenue                  644.8
unit                  Millions
currency                   USD
language               English
age                         12
profit                   479.8
Name: Thor: The Dark World , dtype: object

In [16]:
df.iloc[2,7]

'USD'

In [17]:
df.iloc[3:7]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0
Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0
The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English,31,48.3
Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English,11,536.8

In [18]:
df.reset_index()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,Bengali,70,30000.00
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English,3,754.80
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English,12,479.80
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English,8,674.00
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English,3,420.00
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English,31,48.30
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English,11,536.80
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English,19,252.10
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English,25,357.50
9,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English,28,2002.00
10,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English,79,0.12
11,Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English,16,2610.00
12,The Godfather,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English,53,283.80
13,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English,17,821.00
14,Schindler's List,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English,32,300.20
15,Jurassic Park,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English,32,983.00
16,Parasite,Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English,6,247.60
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English,6,2398.00
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English,7,1648.00
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English,14,153.90
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English,11,537.40
21,Dilwale Dulhania Le Jayenge,Bollywood,1995,8.0,Yash Raj Films,400.00,2000.0,Millions,INR,Hindi,30,1600.00
22,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.00,4000.0,Millions,INR,Hindi,16,3450.00
23,Kabhi Khushi Kabhie Gham,Bollywood,2001,7.4,Dharma Productions,390.00,1360.0,Millions,INR,Hindi,24,970.00
24,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.40,3.5,Billions,INR,Hindi,10,2.10
25,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.00,1350.0,Millions,INR,Hindi,18,1230.00
26,Munna Bhai M.B.B.S.,Bollywood,2003,8.1,Vinod Chopra Productions,100.00,410.0,Millions,INR,Hindi,22,310.00
27,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.00,8540.0,Millions,INR,Hindi,11,7690.00
28,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,1.00,5.9,Billions,INR,Hindi,7,4.90
29,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.00,3409.0,Millions,INR,Hindi,3,3159.00
30,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.00,11690.0,Millions,INR,Hindi,10,10790.00
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.80,3.1,Billions,INR,Hindi,7,1.30
32,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.00,950.0,Millions,INR,Hindi,4,450.00
33,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.00,12.5,Billions,INR,Kannada,3,11.50
34,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.00,3.6,Billions,INR,Telugu,4,1.60
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.50,12.0,Billions,INR,Telugu,3,6.50
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.80,6.5,Billions,INR,Telugu,10,4.70

In [19]:
df.set_index("industry",inplace=True)
df.head()

,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
industry,,,,,,,,,,
Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8
Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0
Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0

In [20]:
df

,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
industry,,,,,,,,,,
Bollywood,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,Bengali,70,30000.00
Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English,3,754.80
Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English,12,479.80
Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English,8,674.00
Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English,3,420.00
Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English,31,48.30
Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English,11,536.80
Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English,19,252.10
Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English,25,357.50
Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English,28,2002.00
Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English,79,0.12
Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English,16,2610.00
Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English,53,283.80
Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English,17,821.00
Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English,32,300.20
Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English,32,983.00
Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English,6,247.60
Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English,6,2398.00
Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English,7,1648.00
Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English,14,153.90
Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English,11,537.40
Bollywood,1995,8.0,Yash Raj Films,400.00,2000.0,Millions,INR,Hindi,30,1600.00
Bollywood,2009,8.4,Vinod Chopra Films,550.00,4000.0,Millions,INR,Hindi,16,3450.00
Bollywood,2001,7.4,Dharma Productions,390.00,1360.0,Millions,INR,Hindi,24,970.00
Bollywood,2015,7.2,NaN,1.40,3.5,Billions,INR,Hindi,10,2.10
Bollywood,2007,8.3,NaN,120.00,1350.0,Millions,INR,Hindi,18,1230.00
Bollywood,2003,8.1,Vinod Chopra Productions,100.00,410.0,Millions,INR,Hindi,22,310.00
Bollywood,2014,8.1,Vinod Chopra Films,850.00,8540.0,Millions,INR,Hindi,11,7690.00
Bollywood,2018,NaN,Vinod Chopra Films,1.00,5.9,Billions,INR,Hindi,7,4.90
Bollywood,2022,8.3,Zee Studios,250.00,3409.0,Millions,INR,Hindi,3,3159.00
Bollywood,2015,8.1,Salman Khan Films,900.00,11690.0,Millions,INR,Hindi,10,10790.00
Bollywood,2018,1.9,Salman Khan Films,1.80,3.1,Billions,INR,Hindi,7,1.30
Bollywood,2021,8.4,Dharma Productions,500.00,950.0,Millions,INR,Hindi,4,450.00
Bollywood,2022,8.4,Hombale Films,1.00,12.5,Billions,INR,Kannada,3,11.50
Bollywood,2021,7.6,Mythri Movie Makers,2.00,3.6,Billions,INR,Telugu,4,1.60
Bollywood,2022,8.0,DVV Entertainment,5.50,12.0,Billions,INR,Telugu,3,6.50
Bollywood,2015,8.0,Arka Media Works,1.80,6.5,Billions,INR,Telugu,10,4.70

In [21]:
df.index

Index(['Bollywood', 'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood',
       'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood',
       'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood',
       'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood', 'Hollywood',
       'Hollywood', 'Bollywood', 'Bollywood', 'Bollywood', 'Bollywood',
       'Bollywood', 'Bollywood', 'Bollywood', 'Bollywood', 'Bollywood',
       'Bollywood', 'Bollywood', 'Bollywood', 'Bollywood', 'Bollywood',
       'Bollywood', 'Bollywood'],
      dtype='object', name='industry')

In [22]:
df.loc["Bollywood"]

,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
industry,,,,,,,,,,
Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
Bollywood,1995,8.0,Yash Raj Films,400.0,2000.0,Millions,INR,Hindi,30,1600.0
Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi,16,3450.0
Bollywood,2001,7.4,Dharma Productions,390.0,1360.0,Millions,INR,Hindi,24,970.0
Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi,10,2.1
Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi,18,1230.0
Bollywood,2003,8.1,Vinod Chopra Productions,100.0,410.0,Millions,INR,Hindi,22,310.0
Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi,11,7690.0
Bollywood,2018,NaN,Vinod Chopra Films,1.0,5.9,Billions,INR,Hindi,7,4.9
Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi,3,3159.0
Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi,10,10790.0
Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi,7,1.3
Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi,4,450.0
Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada,3,11.5
Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu,4,1.6
Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu,3,6.5
Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu,10,4.7

In [23]:
df.reset_index()

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Bollywood,1955,8.3,Government of West Bengal,70000.00,100000.0,Thousands,INR,Bengali,70,30000.00
1,Hollywood,2022,7.0,Marvel Studios,200.00,954.8,Millions,USD,English,3,754.80
2,Hollywood,2013,6.8,Marvel Studios,165.00,644.8,Millions,USD,English,12,479.80
3,Hollywood,2017,7.9,Marvel Studios,180.00,854.0,Millions,USD,English,8,674.00
4,Hollywood,2022,6.8,Marvel Studios,250.00,670.0,Millions,USD,English,3,420.00
5,Hollywood,1994,9.3,Castle Rock Entertainment,25.00,73.3,Millions,USD,English,31,48.30
6,Hollywood,2014,8.6,Warner Bros. Pictures,165.00,701.8,Millions,USD,English,11,536.80
7,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English,19,252.10
8,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English,25,357.50
9,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English,28,2002.00
10,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English,79,0.12
11,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English,16,2610.00
12,Hollywood,1972,9.2,Paramount Pictures,7.20,291.0,Millions,USD,English,53,283.80
13,Hollywood,2008,9.0,Syncopy,185.00,1006.0,Millions,USD,English,17,821.00
14,Hollywood,1993,9.0,Universal Pictures,22.00,322.2,Millions,USD,English,32,300.20
15,Hollywood,1993,8.2,Universal Pictures,63.00,1046.0,Millions,USD,English,32,983.00
16,Hollywood,2019,8.5,NaN,15.50,263.1,Millions,USD,English,6,247.60
17,Hollywood,2019,8.4,Marvel Studios,400.00,2798.0,Millions,USD,English,6,2398.00
18,Hollywood,2018,8.4,Marvel Studios,400.00,2048.0,Millions,USD,English,7,1648.00
19,Hollywood,2011,6.9,Marvel Studios,216.70,370.6,Millions,USD,English,14,153.90
20,Hollywood,2014,7.8,Marvel Studios,177.00,714.4,Millions,USD,English,11,537.40
21,Bollywood,1995,8.0,Yash Raj Films,400.00,2000.0,Millions,INR,Hindi,30,1600.00
22,Bollywood,2009,8.4,Vinod Chopra Films,550.00,4000.0,Millions,INR,Hindi,16,3450.00
23,Bollywood,2001,7.4,Dharma Productions,390.00,1360.0,Millions,INR,Hindi,24,970.00
24,Bollywood,2015,7.2,NaN,1.40,3.5,Billions,INR,Hindi,10,2.10
25,Bollywood,2007,8.3,NaN,120.00,1350.0,Millions,INR,Hindi,18,1230.00
26,Bollywood,2003,8.1,Vinod Chopra Productions,100.00,410.0,Millions,INR,Hindi,22,310.00
27,Bollywood,2014,8.1,Vinod Chopra Films,850.00,8540.0,Millions,INR,Hindi,11,7690.00
28,Bollywood,2018,NaN,Vinod Chopra Films,1.00,5.9,Billions,INR,Hindi,7,4.90
29,Bollywood,2022,8.3,Zee Studios,250.00,3409.0,Millions,INR,Hindi,3,3159.00
30,Bollywood,2015,8.1,Salman Khan Films,900.00,11690.0,Millions,INR,Hindi,10,10790.00
31,Bollywood,2018,1.9,Salman Khan Films,1.80,3.1,Billions,INR,Hindi,7,1.30
32,Bollywood,2021,8.4,Dharma Productions,500.00,950.0,Millions,INR,Hindi,4,450.00
33,Bollywood,2022,8.4,Hombale Films,1.00,12.5,Billions,INR,Kannada,3,11.50
34,Bollywood,2021,7.6,Mythri Movie Makers,2.00,3.6,Billions,INR,Telugu,4,1.60
35,Bollywood,2022,8.0,DVV Entertainment,5.50,12.0,Billions,INR,Telugu,3,6.50
36,Bollywood,2015,8.0,Arka Media Works,1.80,6.5,Billions,INR,Telugu,10,4.70