In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("weather_by_cities.csv", parse_dates=["day"])
df

          day      city  temperature  windspeed   event
0  2017-01-01  new york           32          6    Rain
1  2017-01-02  new york           36          7   Sunny
2  2017-01-03  new york           28         12    Snow
3  2017-01-04  new york           33          7   Sunny
4  2017-01-01    mumbai           90          5   Sunny
5  2017-01-02    mumbai           85         12     Fog
6  2017-01-03    mumbai           87         15     Fog
7  2017-01-04    mumbai           92          5    Rain
8  2017-01-01     paris           45         20   Sunny
9  2017-01-02     paris           50         13  Cloudy
10 2017-01-03     paris           54          8  Cloudy
11 2017-01-04     paris           42         10  Cloudy

In [22]:
df.groupby(["city"])["temperature"].mean()

city
mumbai      88.50
new york    32.25
paris       47.75
Name: temperature, dtype: float64

In [8]:
g = df.groupby("city")

In [9]:
for citi, data in g:
    print(citi)
    print(data.temperature.mean())

mumbai
88.5
new york
32.25
paris
47.75

In [12]:
g.get_group("new york")

         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny

In [13]:
g.size()

city
mumbai      4
new york    4
paris       4
dtype: int64

In [14]:
g.describe()

           day                                                                 \
         count                 mean                  min                  25%
city
mumbai       4  2017-01-02 12:00:00  2017-01-01 00:00:00  2017-01-01 18:00:00
new york     4  2017-01-02 12:00:00  2017-01-01 00:00:00  2017-01-01 18:00:00
paris        4  2017-01-02 12:00:00  2017-01-01 00:00:00  2017-01-01 18:00:00

                                                                              \
                          50%                  75%                  max  std
city
mumbai    2017-01-02 12:00:00  2017-01-03 06:00:00  2017-01-04 00:00:00  NaN
new york  2017-01-02 12:00:00  2017-01-03 06:00:00  2017-01-04 00:00:00  NaN
paris     2017-01-02 12:00:00  2017-01-03 06:00:00  2017-01-04 00:00:00  NaN

         temperature         ...                 windspeed                    \
               count   mean  ...   max       std     count   mean  min   25%
city                         ...
mumbai           4.0  88.50  ...  92.0  3.109126       4.0   9.25  5.0  5.00
new york         4.0  32.25  ...  36.0  3.304038       4.0   8.00  6.0  6.75
paris            4.0  47.75  ...  54.0  5.315073       4.0  12.75  8.0  9.50


           50%    75%   max       std
city
mumbai     8.5  12.75  15.0  5.057997
new york   7.0   8.25  12.0  2.708013
paris     11.5  14.75  20.0  5.251984

[3 rows x 24 columns]

In [15]:
g.max()

                day  temperature  windspeed  event
city
mumbai   2017-01-04           92         15  Sunny
new york 2017-01-04           36         12  Sunny
paris    2017-01-04           54         20  Sunny

In [19]:
g.get_group("new york")["temperature"].max()

np.int64(36)

In [27]:
def grouper(df,idx,col) :
    if 80 <= df[col].loc[idx] <= 90  :
        return "80 to 90"
    elif 50 <= df[col].loc[idx] <= 60 :
        return "50 to 60"
    else :
        return "Other"

g = df.groupby(lambda idx : grouper(df,idx,"temperature"))

for key , data in g:
    print(key)
    print(data)

50 to 60
          day   city  temperature  windspeed   event
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
80 to 90
         day    city  temperature  windspeed  event
4 2017-01-01  mumbai           90          5  Sunny
5 2017-01-02  mumbai           85         12    Fog
6 2017-01-03  mumbai           87         15    Fog
Other
          day      city  temperature  windspeed   event
0  2017-01-01  new york           32          6    Rain
1  2017-01-02  new york           36          7   Sunny
2  2017-01-03  new york           28         12    Snow
3  2017-01-04  new york           33          7   Sunny
7  2017-01-04    mumbai           92          5    Rain
8  2017-01-01     paris           45         20   Sunny
11 2017-01-04     paris           42         10  Cloudy