In [3]:
import pandas as pd
df = pd.read_csv("weather_data.csv", parse_dates=["day"])
df

         day  temperature  windspeed     event
0 2017-01-01           32          6      Rain
1 2017-01-02       -99999          7     Sunny
2 2017-01-03           28     -99999      Snow
3 2017-01-04       -99999          7  no event
4 2017-01-05           32     -99999      Rain
5 2017-01-06           31          2     Sunny
6 2017-01-06           34     -88888  no event

In [4]:
type(df["day"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
df.set_index("day", inplace=True)
df.head()

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain

In [6]:
df.fillna(0,inplace=False)

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [7]:
df.fillna({
    "temperature":df["temperature"].mean(),
    "windspeed":df["windspeed"].mean(),
    "event": "No Event",
})

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [8]:
df

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [9]:
df.ffill(limit=1)

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [10]:
df.infer_objects()

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [11]:
df.dropna(how="all")

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [12]:
df.dropna(how="any")

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [13]:
df.dropna(thresh=2)

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [14]:
df

            temperature  windspeed     event
day
2017-01-01           32          6      Rain
2017-01-02       -99999          7     Sunny
2017-01-03           28     -99999      Snow
2017-01-04       -99999          7  no event
2017-01-05           32     -99999      Rain
2017-01-06           31          2     Sunny
2017-01-06           34     -88888  no event

In [ ]:
df = pd.read_csv("weather_data.csv")
df

In [16]:
import numpy as np
df.replace(-99999,np.nan)

        day  temperature  windspeed     event
0  1/1/2017         32.0        6.0      Rain
1  1/2/2017          NaN        7.0     Sunny
2  1/3/2017         28.0        NaN      Snow
3  1/4/2017          NaN        7.0  no event
4  1/5/2017         32.0        NaN      Rain
5  1/6/2017         31.0        2.0     Sunny
6  1/6/2017         34.0   -88888.0  no event

In [ ]:
df.replace({
    "temperature":[-99999],
    "windspeed":[-99999,-88888],
    "event":"no event",
},np.nan)