In [1]:
for num in range(1,101):
    if num%2==0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

expenses = [1200,1300,1500,1700]
total_expenses = 0
for expense in expenses:
    total_expenses += expense
print(f"Total expenses: {total_expenses}")

In [3]:
expenses = [1200, 1300, 1500, 1700]
total_expenses = 0
for expense in expenses:
    total_expenses += expense
print(f"Total expenses: {total_expenses}")

Total expenses: 5700

In [6]:
total_expenses=0
for i in range(len(expenses)):
    expense = expenses[i]
    print(f"Month {i+1} , Expense : {expense}")
    total_expenses+=expense
print(f"Total expenses: {total_expenses}")

Month 1 , Expense : 1200
Month 2 , Expense : 1300
Month 3 , Expense : 1500
Month 4 , Expense : 1700
Total expenses: 5700

In [11]:
monthly_sales = [42,38,33,38,40,45]
months=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug"]
threshold =35

for sales_amount,month in zip(monthly_sales,months):
    print(f"{sales_amount} , Month: {month} , Threshold: {threshold}")
    if sales_amount<threshold:
        print(f"Sales amount {sales_amount} is less than threshold in {month}")

42 , Month: Jan , Threshold: 35
38 , Month: Feb , Threshold: 35
33 , Month: Mar , Threshold: 35
Sales amount 33 is less than threshold in Mar
38 , Month: Apr , Threshold: 35
40 , Month: May , Threshold: 35
45 , Month: Jun , Threshold: 35

In [13]:
products = ["iPhone","iPad","Mackbook"]
regions = ["USA","China","India"]
revenue = [20,23,45]

for i , product in enumerate(products,start=0):
    print(f"Product: {product} , Region: {regions[i]} , Revenue: {revenue[i]}")

Product: iPhone , Region: USA , Revenue: 20
Product: iPad , Region: China , Revenue: 23
Product: Mackbook , Region: India , Revenue: 45