In [7]:
import pandas as pd

df = pd.read_csv("stock_data.csv", skiprows=1, na_values={"eps":["not available",-1],"revenue":-1,"people":"n.a.","price":"n.a."})

In [8]:
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT    NaN     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [9]:
df["pe"]=df["eps"]/df["revenue"]

In [10]:
df.head()

  tickers    eps  revenue   price         people        pe
0   GOOGL  27.82     87.0   845.0     larry page  0.319770
1     WMT   4.61    484.0    65.0            NaN  0.009525
2    MSFT    NaN     85.0    64.0     bill gates       NaN
3    RIL     NaN     50.0  1023.0  mukesh ambani       NaN
4    TATA   5.60      NaN     NaN     ratan tata       NaN

In [12]:
df.to_csv("pe.csv",index=False)

In [17]:
df_movies = pd.read_excel("movies_db.xlsx","movies")

In [18]:
df_movies.head()

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5

In [23]:
df_financials = pd.read_excel("movies_db.xlsx","financials")
df_financials.head()

   movie_id  budget  revenue      unit currency
0       101     1.0     12.5  Billions      INR
1       102   200.0    954.8  Millions      USD
2       103   165.0    644.8  Millions       $$
3       104   180.0    854.0  Millions  Dollars
4       105   250.0    670.0  Millions      USD

In [21]:
def curr_convert(curr):
    if curr in ["$$","Dollars"]:
        return "USD"
    else:
        return curr
df_financials = pd.read_excel("movies_db.xlsx","financials",converters={"currency":curr_convert})
df_financials.head()

   movie_id  budget  revenue      unit currency
0       101     1.0     12.5  Billions      INR
1       102   200.0    954.8  Millions      USD
2       103   165.0    644.8  Millions      USD
3       104   180.0    854.0  Millions      USD
4       105   250.0    670.0  Millions      USD

In [29]:
df_merged=pd.merge(df_movies,df_financials,on="movie_id",how="inner")

In [27]:

df_movies.merge(df_financials,on="movie_id",how="outer")

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,2022.0,8.4,Hombale Films,3.0,1.00,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022.0,7.0,Marvel Studios,5.0,200.00,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,2013.0,6.8,Marvel Studios,5.0,165.00,644.8,Millions,$$
3,104,Thor: Ragnarok,Hollywood,2017.0,7.9,Marvel Studios,5.0,180.00,854.0,Millions,Dollars
4,105,Thor: Love and Thunder,Hollywood,2022.0,6.8,Marvel Studios,5.0,250.00,670.0,Millions,USD
5,106,Sholay,Bollywood,1975.0,8.1,United Producers,1.0,NaN,NaN,NaN,NaN
6,107,Dilwale Dulhania Le Jayenge,Bollywood,1995.0,8.0,Yash Raj Films,1.0,400.00,2000.0,Millions,INR
7,108,3 Idiots,Bollywood,2009.0,8.4,Vinod Chopra Films,1.0,550.00,4000.0,Millions,INR
8,109,Kabhi Khushi Kabhie Gham,Bollywood,2001.0,7.4,Dharma Productions,1.0,390.00,1360.0,Millions,INR
9,110,Bajirao Mastani,Bollywood,2015.0,7.2,NaN,1.0,1.40,3.5,Billions,INR
10,111,The Shawshank Redemption,Hollywood,1994.0,9.3,Castle Rock Entertainment,5.0,25.00,73.3,Millions,USD
11,112,Inception,Hollywood,2010.0,8.8,Warner Bros. Pictures,5.0,NaN,NaN,NaN,NaN
12,113,Interstellar,Hollywood,2014.0,8.6,Warner Bros. Pictures,5.0,165.00,701.8,Millions,USD
13,114,NaN,NaN,NaN,NaN,NaN,NaN,205.00,365.3,Millions,USD
14,115,The Pursuit of Happyness,Hollywood,2006.0,8.0,Columbia Pictures,5.0,55.00,307.1,Millions,USD
15,116,Gladiator,Hollywood,2000.0,8.5,Universal Pictures,5.0,103.00,460.5,Millions,USD
16,117,Titanic,Hollywood,1997.0,7.9,Paramount Pictures,5.0,200.00,2202.0,Millions,USD
17,118,It's a Wonderful Life,Hollywood,1946.0,8.6,Liberty Films,5.0,3.18,3.3,Millions,USD
18,119,Avatar,Hollywood,2009.0,7.8,20th Century Fox,5.0,237.00,2847.0,Millions,USD
19,120,The Godfather,Hollywood,1972.0,9.2,Paramount Pictures,5.0,7.20,291.0,Millions,USD
20,121,The Dark Knight,Hollywood,2008.0,9.0,Syncopy,5.0,185.00,1006.0,Millions,USD
21,122,Schindler's List,Hollywood,1993.0,9.0,Universal Pictures,5.0,22.00,322.2,Millions,USD
22,123,Jurassic Park,Hollywood,1993.0,8.2,Universal Pictures,5.0,63.00,1046.0,Millions,USD
23,124,Parasite,Hollywood,2019.0,8.5,NaN,5.0,15.50,263.1,Millions,USD
24,125,Avengers: Endgame,Hollywood,2019.0,8.4,Marvel Studios,5.0,400.00,2798.0,Millions,USD
25,126,Avengers: Infinity War,Hollywood,2018.0,8.4,Marvel Studios,5.0,400.00,2048.0,Millions,USD
26,127,Pather Panchali,Bollywood,1955.0,8.3,Government of West Bengal,7.0,70000.00,100000.0,Thousands,INR
27,128,Taare Zameen Par,Bollywood,2007.0,8.3,NaN,1.0,120.00,1350.0,Millions,INR
28,129,Munna Bhai M.B.B.S.,Bollywood,2003.0,8.1,Vinod Chopra Productions,1.0,100.00,410.0,Millions,INR
29,130,PK,Bollywood,2014.0,8.1,Vinod Chopra Films,1.0,850.00,8540.0,Millions,INR
30,131,Sanju,Bollywood,2018.0,NaN,Vinod Chopra Films,1.0,1.00,5.9,Billions,INR
31,132,Pushpa: The Rise - Part 1,Bollywood,2021.0,7.6,Mythri Movie Makers,2.0,2.00,3.6,Billions,INR
32,133,RRR,Bollywood,2022.0,8.0,DVV Entertainment,2.0,5.50,12.0,Billions,INR
33,134,Baahubali: The Beginning,Bollywood,2015.0,8.0,Arka Media Works,2.0,1.80,6.5,Billions,INR
34,135,The Kashmir Files,Bollywood,2022.0,8.3,Zee Studios,1.0,250.00,3409.0,Millions,INR
35,136,Bajrangi Bhaijaan,Bollywood,2015.0,8.1,Salman Khan Films,1.0,900.00,11690.0,Millions,INR
36,137,Captain America: The First Avenger,Hollywood,2011.0,6.9,Marvel Studios,5.0,216.70,370.6,Millions,USD
37,138,Captain America: The Winter Soldier,Hollywood,2014.0,7.8,Marvel Studios,5.0,177.00,714.4,Millions,USD
38,139,Race 3,Bollywood,2018.0,1.9,Salman Khan Films,1.0,1.80,3.1,Billions,INR
39,140,Shershaah,Bollywood,2021.0,8.4,Dharma Productions,1.0,500.00,950.0,Millions,INR
40,406,NaN,NaN,NaN,NaN,NaN,NaN,30.00,350.0,Millions,INR
41,412,NaN,NaN,NaN,NaN,NaN,NaN,160.00,836.8,Millions,USD

In [28]:
df_movies.head()

,movie_id,title,industry,release_year,imdb_rating,studio,language_id
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5
2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5
3,104,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,5
4,105,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,5

In [30]:
df_merged.to_excel("mearged.xlsx", sheet_name="merged",index=False)

In [31]:
df_stock=pd.DataFrame({
    "ticker":["Google","TATA","FaceBook"],
    "price":[20,10,30],
})
df_stock

     ticker  price
0    Google     20
1      TATA     10
2  FaceBook     30

In [32]:
df_weather=pd.DataFrame({
    "place":["india","USA","UAE","China"],
    "tep":[20,10,30,15],
    "wind":[23,43,21,23]
})

In [33]:
df_weather

   place  tep  wind
0  india   20    23
1    USA   10    43
2    UAE   30    21
3  China   15    23

In [34]:
with pd.ExcelWriter("stock_weather.xlsx") as writer:
    df_stock.to_excel(writer,sheet_name="stock",index=False)
    df_weather.to_excel(writer,sheet_name="weather",index=False)